body,
td,
th,
tr,
p,
a {
  font-family: Helvetica, Ariel, sans-serif;
  font-size: 15px;
}

a,
a:visited {
  color: #1772d0;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 15px;
}

strongless {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

li {
  margin: 2px 0;
}

span.highlight {
  background-color: #ffffd0;
}
span.me {
  color: #000000;
  font-weight: 600;
  font-size: 15px;
}

div.title {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
div.conf {
  font-size: 15px;
  color: #000000;
  margin-bottom: 5px;
}
div.author {
  font-size: 15px;
  color: #777777;
  margin-bottom: 5px;
}
div.author a:link,
div.author a:visited {
  color: #777777;
  text-decoration: None;
}
div.author a:hover {
  color: #f09228;
  text-decoration: None;
}
div.material {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}
/* 新闻日期样式类 */
.news-date {
  font-family: "Microsoft YaHei", Arial, sans-serif; /* 字体家族 */
  font-size: 14pt; /* 字体大小（可与新闻内容区分） */
  color: #333333; /* 字体颜色（比默认黑色稍浅，突出内容） */
  font-weight: 600; /* 字体加粗（可选，增强视觉区分） */
}

/* 新闻内容样式（可选，统一内容字体） */
.news-content {
  font-family: "SimSun", Georgia, serif;
  font-size: 13pt;
  color: #555555;
}
